body {
	background-color: #FFF8C1;
	font-family: Arial, Sans-Serif;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	background-color: green;
	text-align: center;
	color: #FFFFFF;
	width: 150px;
	padding: 20px 0 20px 0;
	margin-bottom: 20px;
}

a:hover {
	background-color: red;
}